build/
aos.pkg_extracted/
_MEI/
logs/
__pycache__/
original/
ColdStorage/
aceofspades_decompiled/

aos.pkg
aos_debug.pkg
aos_debug.bat
server_favorites.json

*.dmp
*.BK
*.bak

/*.pyc*
/*.pyo*
/_markerlib/**/*.pyc*
/_markerlib/**/*.pyo*
/aoslib/**/*.pyc*
/aoslib/**/*.pyo*
/playlists/**/*.pyc*
/playlists/**/*.pyo*
/shared/**/*.pyc*
/shared/**/*.pyo*

python/
# Local code-analysis tool database
.gitnexus/
